* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(0, 157, 255);
    background: linear-gradient(rgba(255, 180, 157, 0.516) 0%, blanchedalmond 35%, rgba(6, 221, 237, 0.082) 100%);
    /* bron:https://cssgradient.io/ */
}

/* standaarden */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em;
}

main img {
    width: 200px;
}

.fullWidthAndHeight {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 10px;
}

h2 {
    text-align: center;
}

h2 section p {
    margin-left: 30%;
}

h3 {
    font-size: 50px;
    text-align: center;
}

/* header */

.button {
    padding: 0.2em;
    margin: 0.5em;
    font-size: 4em;
    border: solid black;
    border-radius: 0.3em;
}

.button:hover {
    background: black;
    color: blanchedalmond;
    border-radius: 0.2em;
    font-size: 5em;
    transition: all;
    transition-duration: 0.3s;
}

nav ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    font-size: 30px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(234, 216, 190);
    font-weight: 600;
    border-bottom: solid;
}

nav li a {
    color: rgb(45, 45, 45);
    text-decoration: none;
}

nav a:hover {
    background-color: transparent;
    margin: 10px;
    transition-duration: 0.3s;
    font-size: 1.05em;
}

nav a:active {
    color: rgb(140, 140, 140);
    font-size: 1em;
    transition-duration: 0.1s;
}

/* algemeen section */

section {
    align-items: center;
    border-radius: 25px;
    border: 2px solid #adadad;
    background-color: white;
    padding: 20px;
    text-align: center;
    margin: 0px;
}

section li {
    padding: 10px;
}

/* welkom */

.welkomtekst {
    margin-left: 20%;
    margin-right: 20%;
}

.welkomtekst p {
    margin: 10px;
}

/* sleutelen */

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

main h1 {
    text-align: center;
}

.carbUitlegEnFoto {
    margin-left: 20%;
    margin-right: 20%;
    list-style-position: inside;
}

.carbUitlegEnFoto img {
    width: 400px;
    max-width: 300px;
}

.bandenVervangen {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    list-style-position: inside;
}

.bandenVervangen img {
    width: 400px;
    max-width: 300px;
}

.carb,
.banden {
    margin: 30px;
    padding-bottom: 70px;
}

.carb img,
.banden img {
    width: 300px;
}

.carb h2,
.banden h2 {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(112, 112, 112);
    margin: -40px;
}

@keyframes scaleImage {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.carb:hover,
.banden:hover {
    animation: scaleImage .25s forwards;
}

/* Bron animatie scale en scale behouden: https://stackoverflow.com/questions/42632767/css-animation-grow-from-center-zoom-from-center-dot-to-full-container   -   https://stackoverflow.com/questions/12991164/maintaining-the-final-state-at-end-of-a-css-animation */

.carb a,
.banden a {
    text-decoration: none;
    color: blanchedalmond;
}

.carb a:active,
.banden a:active {
    opacity: 0.3;
}

/* bron code voor opacity: https://www.webucator.com/article/how-to-use-the-css-opacity-property/#:~:text=To%20make%20the%20caption%20opaque,opacity%20to%201%20on%20hover.&text=Open%20the%20HTML%20page%20in,caption%20to%20see%20it%20change. */

/* verkoop */

.tekstmijnverkoop {
    width: 65vw;
}

.tekstmijnverkoop p {
    margin: 10px;
}

.tekstmijnverkoop img {
    width: 90%;
    margin: 0px;
}

.marktplaatsLink {
    width: 50vw;
    margin-bottom: 30px;
}

.marktplaatsLink:active {
    font-size: 1.2em;
    transition-duration: 0.1s;
}

/* contact */

.contactinfo {
    margin-left: 50%;
    margin-right: 50%;
    width: 50vw;
}

.contactinfo h2 {
    margin: 10px;
}

footer {
    border-top: solid;
    background-color: rgb(227, 227, 227);
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}